:root.theme-john-the-baptist {

  /* Intro screen */
  --intro-bg: #3d85c6;
  --intro-text: #f2f2f2;

  /* Whole page background */
  --quiz-screen-bg: #e7eaee;

  /* Question Box at Top */
  --question-bg: #ffffff;
  --question-text: #333333;

  /* First Button */
  --red: #a96a41;
  --red-text: #f2f2f2;

  /* Second Button */
  --blue: #3d85c6;
  --blue-text: #f2f2f2;

  /* Third Button */
  --yellow: #ffd42a;
  --yellow-text: #333333;

  /* Fourth Button */
  --green: #62bb47;
  --green-text: #f2f2f2;

  /* Progress / timer bar */
  --progress-track-bg: rgba(51, 51, 51, 0.22);
  --progress-fill-high: #62bb47;
  --progress-fill-mid: #ffd42a;
  --progress-fill-low: #e55934;

}
