:root.theme-test {


  --title-main-text: #ff00ff;



  --accent: #ff00ff;
  --primary-text: #ff00ff;



  --red: #ff00ff;

  --yellow: #ff00ff;

  --blue: #ff00ff;

  --green: #ff00ff;



  --quiz-screen-bg: linear-gradient(180deg, #40b9c5, #7f66c6);


}
