:root.theme-neon {

  /* Intro screen */
  --intro-bg: #39ff8b;
  --intro-text: #333333;

  /* Whole page background */
  --quiz-screen-bg: #090b1f;

  /* Question Box at Top */
  --question-bg: #090b1f;
  --question-text: #f2f2f2;

  /* First Button */
  --red: #ff3366;
  --red-text: #f2f2f2;

  /* Second Button */
  --blue: #00b2ff;
  --blue-text: #f2f2f2;

  /* Third Button */
  --yellow: #fffb73;
  --yellow-text: #333333;

  /* Fourth Button */
  --green: #39ff8b;
  --green-text: #333333;

  /* Progress / timer bar */
  --progress-track-bg: rgba(51, 51, 51, 0.22);
  --progress-fill-high: #39ff8b;
  --progress-fill-mid: #fffb73;
  --progress-fill-low: #ff3366;

}
