:root.theme-sodom {

  /* Intro screen */
  --intro-bg: #ff7a00;
  --intro-text: #232323;

  /* Whole page background */
  --quiz-screen-bg: #232323;

  /* Question Box at Top */
  --question-bg: #3a3a3a;
  --question-text: #f2f2f2;

  /* First Button */
  --red: #c81e1e;
  --red-text: #f2f2f2;

  /* Second Button */
  --blue: #c9a97b;
  --blue-text: #333333;

  /* Third Button */
  --yellow: #ffbf23;
  --yellow-text: #333333;

  /* Fourth Button */
  --green: #ff7a00;
  --green-text: #333333;

  /* Progress / timer bar */
  --progress-track-bg: rgba(51, 51, 51, 0.22);
  --progress-fill-high: #62bb47;
  --progress-fill-mid: #ffbf23;
  --progress-fill-low: #c81e1e;

}
