:root.theme-perry-teal {

  /* Intro screen */
  --intro-bg: #09d0b7;
  --intro-text: #FFFFFF;

  /* Whole page background */
  --quiz-screen-bg: #09d0b7;

  /* Question Box at Top */
  --question-bg: #FFFFFF;
  --question-text: #333333;

  /* First Button */
  --red: #feb313r;
  --red-text: #333333;

  /* Second Button */
  --blue: #c1f3ed;
  --blue-text: #333333;

  /* Third Button */
  --yellow: #333333;
  --yellow-text: #FFFFFF;

  /* Fourth Button */
  --green: #FFFFFF;
  --green-text: #333333;

  /* Progress / timer bar */
  --progress-track-bg: rgba(51, 51, 51, 0.22);
  --progress-fill-high: #333333;
  --progress-fill-mid: #feb313;
  --progress-fill-low: #FB0B22;

}