:root.theme-ice {

  /* Intro screen */
  --intro-bg: #f2f2f2;
  --intro-text: #333333;

  /* Whole page background */
  --quiz-screen-bg: #f2f2f2;

  /* Question Box at Top */
  --question-bg: #333333;
  --question-text: #f2f2f2;

  /* First Button */
  --red: #e11d48;
  --red-text: #f2f2f2;

  /* Second Button */
  --blue: #38bdf8;
  --blue-text: #333333;

  /* Third Button */
  --yellow: #b3b3b3;
  --yellow-text: 333333;

  /* Fourth Button */
  --green: #a855f7;
  --green-text: #f2f2f2;

  /* Progress / timer bar */
  --progress-track-bg: rgba(51, 51, 51, 0.22);
  --progress-fill-high: #a855f7;
  --progress-fill-mid: #38bdf8;
  --progress-fill-low: #e11d48;

}
