:root.theme-test {


  --title-main-text: #ff00ff;



  --accent: #40b9c5;
  --primary-text: #f2f2f2;



  --red: #ff5a51;

  --yellow: #ffc751;

  --blue: #40b9c5;

  --green: #a7cb6f;



  --quiz-screen-bg: linear-gradient(180deg, #40b9c5, #7f66c6);


}
